body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.table-main {
    width: 90%;
    margin: 30px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.table th {
    background-color: #2980b9;
    color: white;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.btn {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-primary {
    background-color: #2ecc71;
    color: white;
}

.btn-primary:hover {
    background-color: #27ae60;
}

.btn-warning {
    background-color: #f1c40f;
    color: white;
}

.btn-warning:hover {
    background-color: #f39c12;
}
.no-data {
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 20px;
}
.table-title  {
    text-align: left;
    color: white;
    background-color: rgb(13, 3, 105);
    padding: 10px;
    margin: 0;
}






