.hero {
    background-image: url('https://i.postimg.cc/44H24fk4/z6346861583592-862dc98dfcc26c43d1219f679827a619.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
}

.hero h2 {
    font-size: 28px;
    font-weight: bold;
}
